body {
    color: #ffffff;
    text-align: center;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

img {
    width: 100%;
    height: 100%;
}



.header {
    height: 100vh;
    background-image: url(../images/header_bg.jpg);
    background-size: cover;
    background-position: center;
}

.test:before {
    content: "Записаться на курс “Быстрый старт”, а также пройти экспресс-тестирование можно уже сейчас.";
}

#escort {
    background-color: aquamarine;
}

.title h1:after {
    content: "мультисервисная платформа для осознанного трейдинга ";

}

.timer {
    font-size: 0;
    text-align: center;
}

.timer_container:before {
    content: "Информация в открытом доступе временно, не упусти свой шанс";
}

.timer_section {
    display: inline-block;
    vertical-align: top;
}

.timer_section > div {
    display: inline-block;
    vertical-align: top;
    font-size: 50px;
    background: #4dadf7;
    color: #ffffff;
    line-height: 70px;
    width: 55px;
    margin: 0 1px;
    border-radius: 2px;
}

.timer_section > div.timer_section_desc {
    display: block;
    background: none;
    color: inherit;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 30px;
    width: auto;
    margin: 0;
}

.timer_delimetr {
    display: inline-block;
    vertical-align: top;
    font-size: 50px;
    line-height: 70px;
    margin: 0 5px;
}

.section_title {
    text-align: center;
}

@media (max-width: 767px) {
    .timer_section > div {
        font-size: 30px;
        width: 30px;
        line-height: 40px;
    }

    .timer_delimetr {
        line-height: 40px;
        font-size: 30px;
    }

    .timer_section > div.timer_section_desc {
        font-size: 14px;
        line-height: 26px;
    }
}